body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin: 0
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

@font-face {
    font-display: swap;
    font-family: Minecrafter;
    font-style: normal;
    font-weight: 400;
    src: url(../media/Minecrafter.67f11d75881e3c6c7b7a.eot);
    src: url(../media/Minecrafter.67f11d75881e3c6c7b7a.eot?#iefix) format("embedded-opentype"), url(../media/Minecrafter.76fa3bf11a25741b0b15.woff2) format("woff2"), url(../media/Minecrafter.57d07a4f9b78f5c756c0.woff) format("woff"), url(../media/Minecrafter.3461e05c27f993edaa5d.ttf) format("truetype")
}

@font-face {
    font-display: swap;
    font-family: MADE TOMMY;
    font-style: normal;
    font-weight: 400;
    src: url(../media/MADETOMMY.3e3853e88849d8c4738a.eot);
    src: url(../media/MADETOMMY.3e3853e88849d8c4738a.eot?#iefix) format("embedded-opentype"), url(../media/MADETOMMY.7eab6ee05fe243c203ca.woff2) format("woff2"), url(../media/MADETOMMY.433ca03b18e57d0988b6.woff) format("woff"), url(../media/MADETOMMY.6ac06c07f2e40e3754ac.ttf) format("truetype")
}

@font-face {
    font-display: swap;
    font-family: Russo One;
    font-style: normal;
    font-weight: 400;
    src: url(../media/RussoOne.22545ce04489264e7dcb.eot);
    src: url(../media/RussoOne.22545ce04489264e7dcb.eot?#iefix) format("embedded-opentype"), url(../media/RussoOne.67b3cd14a2410293d299.woff2) format("woff2"), url(../media/RussoOne.0ceb07b5d754d9c49ee6.woff) format("woff"), url(../media/RussoOne.64eebaedef5db50f056d.ttf) format("truetype")
}

@font-face {
    font-display: swap;
    font-family: Blacksword;
    font-style: normal;
    font-weight: 400;
    src: url(../media/Blacksword.5fa71a5db346c19b6eab.eot);
    src: url(../media/Blacksword.5fa71a5db346c19b6eab.eot?#iefix) format("embedded-opentype"), url(../media/Blacksword.a35ffaa68f0a7b27ac40.woff2) format("woff2"), url(../media/Blacksword.cbefd3087ea65767b5b1.woff) format("woff"), url(../media/Blacksword.e72d19ecdddbc58c030d.ttf) format("truetype")
}

:after {
    box-sizing: inherit
}

html {
    scroll-behavior: smooth
}

body {
    background: #181717;
    overflow-x: hidden
}

body.noScroll {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%
}

::-webkit-scrollbar {
    background: #000;
    border-radius: 5px;
    width: 8px
}

::-webkit-scrollbar-thumb {
    background: #dd8109;
    border-radius: 5px
}

.navbar.active {
    background-color: #dd8109;
    transition: .5s;
    z-index: 2
}

.navbar.active a {
    border-bottom: 2px solid transparent;
    color: #e4e7e6;
    transition: .5s
}

.navbar.active a:hover {
    border-bottom: 2px solid #e4e7e6;
    transition: .5s
}

.navbar {
    color: "unset";
    font-family: Russo One;
    font-size: 1.3rem;
    font-weight: 500;
    position: fixed;
    transition: .5s;
    width: 100%
}

.navbar_2 {
    height: 60px;
    margin: 0 auto;
    width: 1000px
}

.navbar_2 ul {
    display: flex;
    justify-content: center;
    list-style: none
}

.navbar_2 ul li {
    line-height: 60px;
    margin: 0 20px;
    vertical-align: center
}

.navbar_2 ul li a {
    border-bottom: 2px solid transparent;
    color: #dd8109;
    padding-bottom: 3px;
    text-decoration: none;
    transition: .5s
}

.navbar_2 ul li a:hover {
    border-bottom: 2px solid #dd8109;
    transition: .5s
}

.burger {
    display: none
}

.burger .burger_icon {
    cursor: pointer;
    height: 40px;
    position: fixed;
    right: 10px;
    top: 10px;
    width: 40px;
    z-index: 2
}

.burger .burger_icon svg {
    fill: #dd8109;
    height: 40px;
    width: 40px
}

.burger .burger_menu {
    align-items: center;
    background: #dd8109;
    display: flex;
    height: 100%;
    position: fixed;
    right: -100%;
    top: 0;
    transition: .3s;
    width: 100%;
    z-index: 1
}

.burger .burger_menu .burger_navbar {
    margin-left: auto;
    margin-right: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.burger .burger_menu .burger_navbar ul {
    list-style: none
}

.burger .burger_menu .burger_navbar ul li {
    padding: 8px
}

.burger .burger_menu .burger_navbar ul li a {
    color: #e4e7e6;
    font-family: Russo One;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none
}

.burger .burger_menu .burger_social_links {
    color: #e4e7e6;
    margin-left: auto;
    margin-right: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    z-index: 2
}

.burger .burger_menu .burger_social_links_ul {
    display: flex;
    justify-content: center;
    list-style: none
}

.burger .burger_menu .burger_social_links_ul li {
    display: list-item
}

.burger .burger_menu .burger_social_links_ul li a {
    -webkit-text-decoration-skip: ink;
    color: inherit;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-decoration-skip-ink: auto
}

.burger .burger_menu .burger_social_links_ul li a svg {
    height: 30px;
    width: 30px
}

.burger .burger_menu .burger_social_links_ul li a svg.feather {
    fill: none
}

.social_links {
    bottom: 0;
    color: #dd8109;
    left: 20px;
    position: fixed;
    right: auto;
    width: 70px;
    z-index: 10
}

.social_links_ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0
}

.social_links_ul li {
    display: list-item
}

.social_links_ul li a {
    -webkit-text-decoration-skip: ink;
    bottom: 0;
    color: inherit;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    transition: .4s
}

.social_links_ul li a:hover {
    bottom: 4px;
    color: #e4e7e6
}

.social_links_ul li a svg {
    height: 20px;
    max-width: 100%;
    vertical-align: middle;
    width: 20px;
    width: 100%
}

.social_links_ul li a svg.feather {
    fill: none
}

.social_links_ul:after {
    background-color: #dd8109;
    content: "";
    display: block;
    height: 80px;
    margin-top: 20px;
    width: 1px
}

.about,
.social_links_ul:after {
    margin-left: auto;
    margin-right: auto
}

.about {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 60px;
    width: 1000px
}

.about_2 {
    align-items: center;
    display: flex;
    padding: 190px 0;
    width: 100%
}

.about_2 .photoDiv {
    border-radius: 10%;
    height: 500px;
    overflow: hidden;
    width: 50%
}

.about_2 .photoDiv p {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url(../media/portfolio_photo.d762f74408fba6ec66ea.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent;
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2);
    font-size: 14px;
    font-weight: 500;
    inline-size: 100%;
    letter-spacing: 1px;
    line-height: 8px;
    overflow-wrap: break-word
}

.about_2 .about_text {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    width: 50%
}

.about_2 .about_text .autotyping {
    color: #dd8109;
    font-family: Blacksword;
    font-size: 2rem;
    font-weight: 700;
    min-height: 120px;
    width: 100%
}

.about_2 .about_text .autotyping span {
    margin-left: 2px
}

.about_2 .about_text .autotyping h2 {
    color: #dd8109;
    font-family: Minecrafter;
    font-size: 2.6rem
}

.about_2 .about_text .autotyping h2 span {
    color: #e4e7e6
}

.about_2 .about_text .autotyping span {
    text-align: left
}

.about_2 .about_text .autotyping span span:nth-child(2) {
    display: none
}

.about_2 .about_text .my_story {
    color: #e4e7e6;
    font-family: MADE TOMMY;
    font-size: 1rem
}

.skills {
    margin-top: 50px;
    width: 1000px
}

.skills,
.skills_2 {
    margin-left: auto;
    margin-right: auto
}

.skills_2 {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(3, 150px);
    justify-content: center;
    width: 100%
}

.skills_2 div:nth-child(3) {
    height: 90px;
    margin-top: 10px;
    width: 90px
}

.skills_2 div:nth-child(9) {
    height: 50px
}

.skills_2 div:nth-child(10) {
    fill: #0f8797
}

.skills_2 div:nth-child(12) {
    fill: #0e67cc
}

.skills_2 .skills_svg {
    align-self: center;
    cursor: pointer;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    transition: .5s ease;
    width: 100px
}

.skills_2 .skills_svg svg {
    height: 100%;
    width: 100%
}

.skills_2 .skills_svg:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transform: scale(1.3);
    transform: scale(1.3)
}

.section_name {
    border-bottom: 2px solid #dd8109;
    color: #e4e7e6;
    font-family: Minecrafter;
    font-size: 3rem;
    letter-spacing: .2rem;
    margin-bottom: 1rem
}

.projects {
    margin-inline: auto;
    margin-top: 240px;
    width: 1000px
}

.projects button {
    background: #000;
    border: 2px solid #e4e7e6;
    color: #dd8109;
    cursor: pointer;
    font-family: Russo One;
    font-size: 1.2rem;
    padding: 8px;
    position: relative
}

.projects button:hover {
    border: 2px solid #dd8109;
    box-shadow: 1px 3px 5px #e4e7e6;
    left: 2px;
    top: 2px
}

.projects .project_info {
    background: #dd8109;
    display: flex;
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5px 0;
    position: relative;
    right: 0;
    text-align: center;
    transition: .3s linear;
    width: 100%;
    z-index: 1
}

.projects .project_info .project_name {
    padding-top: 5px
}

.projects .project_info .project_name a {
    color: #e4e7e6;
    font-family: Minecrafter;
    font-size: 1.2rem;
    text-decoration: none
}

.projects .project_info ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.projects .project_info ul li {
    height: 40px;
    margin: 0 5px;
    width: 40px
}

.projects .project_info ul li svg {
    height: 100%;
    width: 100%
}

.projects .project_info .project_date {
    color: #e4e7e6;
    font-family: Russo One;
    font-size: 1rem;
    padding-top: 5px
}

.projects .project_info .github_link {
    padding-top: 5px
}

.projects .project_info .github_link svg {
    height: 30px;
    width: 30px
}

.projects #second-style {
    grid-gap: 5px;
    display: grid;
    gap: 5px;
    grid-template-areas: "grid-1 grid-2""grid-3 grid-4""grid-5 grid-6""grid-7 grid-7";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 2fr);
    margin-top: 16px;
    width: 100%
}

.projects #second-style .project-1-new {
    grid-area: grid-1
}

.projects #second-style .project-2-new {
    grid-area: grid-2
}

.projects #second-style .project-3-new {
    grid-area: grid-3
}

.projects #second-style .project-4-new {
    grid-area: grid-4
}

.projects #second-style .project-5-new {
    grid-area: grid-5
}

.projects #second-style .project-6-new {
    grid-area: grid-6
}

.projects #second-style .project-7-new {
    grid-area: grid-7
}

.projects #second-style .project_item_new {
    aspect-ratio: 5/3;
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    overflow: hidden
}

.projects #second-style .project_item_new .project_info {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    width: 100%
}

.projects #second-style .hide {
    right: -100%
}

.projects .gallery {
    --s: 320px;
    --g: 40px;
    display: grid;
    margin: calc(var(--s) + var(--g))
}

.projects .gallery .project_item {
    align-items: center;
    background-position: 50% !important;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    justify-content: center
}

.projects .gallery .project_item .hide {
    right: -105%
}

.projects .gallery>div {
    aspect-ratio: 1.15;
    -webkit-clip-path: polygon(25% -1%, 75% -1%, 101% 50%, 75% 101%, 25% 101%, -1% 50%);
    clip-path: polygon(25% -1%, 75% -1%, 101% 50%, 75% 101%, 25% 101%, -1% 50%);
    grid-area: 1/1;
    object-fit: cover;
    overflow: hidden;
    -webkit-transform: rotate(0deg) translateY(calc(100% + var(--g))) rotate(0deg) scale(1);
    transform: rotate(0deg) translateY(calc(100% + var(--g))) rotate(0deg) scale(1);
    -webkit-transform: rotate(var(--_a, 0deg)) translateY(calc(100% + var(--g))) rotate(calc(var(--_a, 0deg)*-1)) scale(var(--_t, 1));
    transform: rotate(var(--_a, 0deg)) translateY(calc(100% + var(--g))) rotate(calc(var(--_a, 0deg)*-1)) scale(var(--_t, 1));
    transition: .3s linear;
    width: var(--s)
}

.projects .gallery>div:hover {
    --_t: 1.15;
    background-position: 50% !important
}

.projects .gallery>div:first-child {
    --_a: 0deg
}

.projects .gallery>div:nth-child(2) {
    --_a: 60deg
}

.projects .gallery>div:nth-child(3) {
    --_a: 120deg
}

.projects .gallery>div:nth-child(4) {
    --_a: -60deg
}

.projects .gallery>div:nth-child(5) {
    --_a: -120deg
}

.projects .gallery>div:nth-child(6) {
    --_a: 180deg
}

.projects .gallery>div:nth-child(7) {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform: scale(var(--_t, 1));
    transform: scale(var(--_t, 1))
}

.projects .gallery-body {
    display: grid;
    margin: 0;
    place-content: center
}

@media (max-width:1015px) {
    ::-webkit-scrollbar {
        background: #181717
    }

    .navbar {
        display: none
    }

    .burger {
        display: block
    }

    .social_links {
        display: none
    }

    .about {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0;
        width: 500px
    }

    .about_2 {
        display: flex;
        flex-direction: column;
        padding: 80px 0;
        width: 100%
    }

    .about_2 .photoDiv {
        border: 4px solid #e4e7e6;
        border-radius: 50%;
        height: 400px;
        width: 80%
    }

    .about_2 .photoDiv p {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 7px
    }

    .about_2 .about_text {
        border: 4px solid #e4e7e6;
        border-radius: 10px 0 10px 0;
        flex-direction: column;
        margin-left: 0;
        margin-top: 60px;
        padding: 5px;
        width: 100%
    }

    .skills {
        margin-top: 70px;
        min-width: -webkit-fit-content;
        min-width: -moz-fit-content;
        min-width: fit-content;
        width: auto
    }

    .skills_2 {
        grid-row-gap: 30px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: none;
        row-gap: 30px
    }

    .skills_2 .skills_svg {
        -webkit-filter: initial;
        filter: none;
        transition: none 0s ease 0s;
        transition: initial
    }

    .skills_2 .skills_svg:hover {
        -webkit-filter: initial;
        filter: none;
        -webkit-transform: none;
        transform: none
    }

    .projects {
        min-width: -webkit-fit-content;
        min-width: -moz-fit-content;
        min-width: fit-content;
        width: auto
    }

    .projects button {
        display: none
    }

    .projects #gallery-body {
        display: none !important
    }

    .projects #second-style {
        display: grid !important
    }

    .projects #second-style .project_item_new .project_info {
        height: 100%
    }

    .sectionDiv {
        margin-top: 150px
    }

    .section_name {
        margin-left: auto;
        margin-right: auto;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content
    }
}

@media (max-width:515px) {
    .about {
        width: 350px
    }

    .about_2 {
        padding: 75px 5px;
        width: 100%
    }

    .about_2 .photoDiv {
        border-radius: 50%;
        height: 333.33333px;
        width: 100%
    }

    .about_2 .photoDiv p {
        font-size: 11px;
        inline-size: 102%;
        letter-spacing: .8px;
        line-height: 6px
    }

    .about_2 .about_text {
        flex-direction: column
    }

    .about_2 .about_text .autotyping {
        font-size: 1.5rem;
        min-height: 100px
    }

    .about_2 .about_text .autotyping h2 {
        font-size: 1.7rem
    }

    .about_2 .about_text .my_story {
        font-size: .8rem
    }

    .skills {
        margin-top: 60px
    }

    .skills_2 div:nth-child(3) {
        height: 55px;
        margin-top: 5px;
        width: 55px
    }

    .skills_2 div:nth-child(9) {
        height: 30px
    }

    .skills_2 .skills_svg {
        -webkit-filter: initial;
        filter: none;
        height: 60px;
        transition: none 0s ease 0s;
        transition: initial;
        width: 60px
    }

    .skills_2 .skills_svg svg {
        height: 100%;
        width: 100%
    }

    .skills_2 .skills_svg:hover {
        -webkit-filter: initial;
        filter: none;
        -webkit-transform: none;
        transform: none
    }

    .sectionDiv {
        margin-top: 135px
    }

    .section_name {
        font-size: 2.2rem
    }

    .projects #second-style {
        display: grid !important;
        grid-template-areas: unset;
        grid-template-columns: repeat(1, 1fr) !important
    }

    .projects #second-style .project-1-new,
    .projects #second-style .project-2-new,
    .projects #second-style .project-3-new,
    .projects #second-style .project-4-new,
    .projects #second-style .project-5-new,
    .projects #second-style .project-6-new,
    .projects #second-style .project-7-new {
        grid-area: unset
    }
}

@media (max-width:350px) {
    .about {
        width: 280px
    }

    .about_2 {
        padding: 50px 5px
    }

    .about_2 .photoDiv {
        height: 263.15789px
    }

    .about_2 .photoDiv p {
        font-size: 9px;
        letter-spacing: .7px;
        line-height: 5px
    }

    .about_2 .about_text {
        flex-direction: column;
        margin-left: 0;
        margin-top: 40px;
        width: 100%
    }

    .about_2 .about_text .autotyping {
        font-size: 1.2rem;
        min-height: 70px
    }

    .about_2 .about_text .autotyping span {
        margin-left: 1px
    }

    .about_2 .about_text .autotyping h2 {
        font-size: 1.3rem
    }

    .about_2 .about_text .my_story {
        font-size: .7rem
    }

    .sectionDiv {
        margin-top: 110px
    }

    .section_name {
        font-size: 2rem
    }
}

@media (max-height:350px) {
    .burger .burger_menu .burger_navbar ul li {
        padding: 3px
    }

    .burger .burger_menu .burger_navbar ul li a {
        font-size: 1.8rem
    }

    .burger .burger_menu .burger_social_links {
        margin-left: 0;
        margin-right: 0
    }
}

/*# sourceMappingURL=main.20e1fc20.css.map*/
