body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin: 0
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

@font-face {
    font-display: swap;
    font-family: Chicago;
    font-style: normal;
    font-weight: 400;
    src: url(../media/ChicagoRegular.f67456c3ba172cbe7d33.eot);
    src: url(../media/ChicagoRegular.f67456c3ba172cbe7d33.eot?#iefix) format("embedded-opentype"), url(../media/ChicagoRegular.dc7c0f9b0fb7c5d5a180.woff2) format("woff2"), url(../media/ChicagoRegular.8a7f2ca3b4f20d2056af.woff) format("woff"), url(../media/ChicagoRegular.f6460bcb845213f9e334.ttf) format("truetype")
}

@font-face {
    font-display: swap;
    font-family: Fluo Gums;
    font-style: normal;
    font-weight: 400;
    src: url(../media/FluoGums.15553b21863f642822b1.eot);
    src: url(../media/FluoGums.15553b21863f642822b1.eot?#iefix) format("embedded-opentype"), url(../media/FluoGums.226de378ca1153eb89d1.woff2) format("woff2"), url(../media/FluoGums.cd0f925b09064693185f.woff) format("woff"), url(../media/FluoGums.6deb228c5c9935e84c69.ttf) format("truetype")
}

@font-face {
    font-display: swap;
    font-family: HIRO MISAKE;
    font-style: normal;
    font-weight: 400;
    src: url(../media/HIROMISAKERegular.be84438a93dabf183657.eot);
    src: url(../media/HIROMISAKERegular.be84438a93dabf183657.eot?#iefix) format("embedded-opentype"), url(../media/HIROMISAKERegular.6021dbd23089c925f7e4.woff2) format("woff2"), url(../media/HIROMISAKERegular.e63ef1aebd48922dbb18.woff) format("woff"), url(../media/HIROMISAKERegular.0df9e2911e31544304b2.ttf) format("truetype")
}

@font-face {
    font-display: swap;
    font-family: Minecrafter;
    font-style: normal;
    font-weight: 400;
    src: url(../media/Minecrafter.67f11d75881e3c6c7b7a.eot);
    src: url(../media/Minecrafter.67f11d75881e3c6c7b7a.eot?#iefix) format("embedded-opentype"), url(../media/Minecrafter.76fa3bf11a25741b0b15.woff2) format("woff2"), url(../media/Minecrafter.57d07a4f9b78f5c756c0.woff) format("woff"), url(../media/Minecrafter.3461e05c27f993edaa5d.ttf) format("truetype")
}

@font-face {
    font-family: Orange Leafy Display;
    src: url(../media/OrangeLeafy-Display.8e4132f9f52c31eda29c.eot);
    src: url(../media/OrangeLeafy-Display.8e4132f9f52c31eda29c.eot?#iefix) format("embedded-opentype"), url(../media/OrangeLeafy-Display.f229b9f920b44f322b6c.woff2) format("woff2"), url(../media/OrangeLeafy-Display.64024474a07e1ebec6ec.woff) format("woff"), url(../media/OrangeLeafy-Display.2caff3f20711ecde6a45.ttf) format("truetype")
}

@font-face {
    font-display: swap;
    font-family: MADE TOMMY;
    font-style: normal;
    font-weight: 400;
    src: url(../media/MADETOMMY.3e3853e88849d8c4738a.eot);
    src: url(../media/MADETOMMY.3e3853e88849d8c4738a.eot?#iefix) format("embedded-opentype"), url(../media/MADETOMMY.7eab6ee05fe243c203ca.woff2) format("woff2"), url(../media/MADETOMMY.433ca03b18e57d0988b6.woff) format("woff"), url(../media/MADETOMMY.6ac06c07f2e40e3754ac.ttf) format("truetype")
}

@font-face {
    font-display: swap;
    font-family: Anthony Hunter;
    font-style: italic;
    font-weight: 400;
    src: url(../media/Anthony%20Hunter%20Italic.d73782210266614b683e.woff2) format("woff2"), url(../media/Anthony%20Hunter%20Italic.4f9137ec9f91d144fb15.woff) format("woff"), url(../media/Anthony%20Hunter%20Italic.ac601c94936e372b705d.ttf) format("truetype")
}

:after {
    box-sizing: inherit
}

html {
    scroll-behavior: smooth
}

body {
    background: #181717
}

body.noScroll {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%
}

.navbar.active {
    background-color: #dd8109;
    transition: .5s;
    z-index: 2
}

.navbar.active a {
    border-bottom: 2px solid transparent;
    color: #e4e7e6;
    transition: .5s
}

.navbar.active a:hover {
    border-bottom: 2px solid #e4e7e6;
    transition: .5s
}

.navbar {
    font-size: 1.3rem;
    font-weight: 700;
    position: fixed;
    transition: background-color .5s;
    width: 100%
}

.navbar_2 {
    height: 60px;
    margin: 0 auto;
    width: 1000px
}

.navbar_2 ul {
    display: flex;
    justify-content: center;
    list-style: none
}

.navbar_2 ul li {
    line-height: 60px;
    margin: 0 20px;
    vertical-align: center
}

.navbar_2 ul li a {
    border-bottom: 2px solid transparent;
    color: #dd8109;
    padding-bottom: 3px;
    text-decoration: none;
    transition: .5s
}

.navbar_2 ul li a:hover {
    border-bottom: 2px solid #dd8109;
    transition: .5s
}

.burger {
    display: none
}

.burger .burger_icon {
    cursor: pointer;
    height: 40px;
    position: fixed;
    right: 10px;
    top: 10px;
    width: 40px;
    z-index: 2
}

.burger .burger_icon svg {
    fill: #dd8109;
    height: 40px;
    width: 40px
}

.burger .burger_menu {
    align-items: center;
    background: #dd8109;
    display: flex;
    height: 100%;
    position: fixed;
    right: -100%;
    top: 0;
    transition: .3s;
    width: 100%;
    z-index: 1
}

.burger .burger_menu .burger_navbar {
    margin-left: auto;
    margin-right: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.burger .burger_menu .burger_navbar ul {
    list-style: none
}

.burger .burger_menu .burger_navbar ul li {
    padding: 8px
}

.burger .burger_menu .burger_navbar ul li a {
    color: #e4e7e6;
    font-size: 2rem;
    text-decoration: none
}

.burger .burger_menu .burger_social_links {
    color: #e4e7e6;
    margin-left: auto;
    margin-right: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    z-index: 2
}

.burger .burger_menu .burger_social_links_ul {
    display: flex;
    justify-content: center;
    list-style: none
}

.burger .burger_menu .burger_social_links_ul li {
    display: list-item
}

.burger .burger_menu .burger_social_links_ul li a {
    -webkit-text-decoration-skip: ink;
    color: inherit;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-decoration-skip-ink: auto
}

.burger .burger_menu .burger_social_links_ul li a svg {
    height: 30px;
    width: 30px
}

.burger .burger_menu .burger_social_links_ul li a svg.feather {
    fill: none
}

.social_links {
    bottom: 0;
    color: #dd8109;
    left: 20px;
    position: fixed;
    right: auto;
    width: 70px;
    z-index: 10
}

.social_links_ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0
}

.social_links_ul li {
    display: list-item
}

.social_links_ul li a {
    -webkit-text-decoration-skip: ink;
    bottom: 0;
    color: inherit;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    transition: .4s
}

.social_links_ul li a:hover {
    bottom: 4px;
    color: #e4e7e6
}

.social_links_ul li a svg {
    height: 20px;
    max-width: 100%;
    vertical-align: middle;
    width: 20px;
    width: 100%
}

.social_links_ul li a svg.feather {
    fill: none
}

.social_links_ul:after {
    background-color: #dd8109;
    content: "";
    display: block;
    height: 80px;
    margin-top: 20px;
    width: 1px
}

.about,
.social_links_ul:after {
    margin-left: auto;
    margin-right: auto
}

.about {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 60px;
    width: 1000px
}

.about_2 {
    align-items: center;
    display: flex;
    margin: 190px 0;
    width: 100%
}

.about_2 .photoDiv {
    border-radius: 10%;
    height: 500px;
    overflow: hidden;
    width: 50%
}

.about_2 .photoDiv p {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url(../media/portfolio_photo.d762f74408fba6ec66ea.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent;
    font-size: 14px;
    font-weight: 500;
    inline-size: 100%;
    letter-spacing: 1px;
    line-height: 8px;
    overflow-wrap: break-word
}

.about_2 .about_text {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    width: 50%
}

.about_2 .about_text .autotyping {
    color: #dd8109;
    font-family: Minecrafter;
    font-size: 2rem;
    font-weight: 700;
    height: 110px;
    width: 100%
}

.about_2 .about_text .autotyping h2 {
    font-family: Minecrafter
}

.about_2 .about_text .autotyping h2 span {
    color: #e4e7e6
}

.about_2 .about_text .autotyping span {
    text-align: left
}

.about_2 .about_text .autotyping span span:nth-child(2) {
    display: none
}

.about_2 .about_text .my_story {
    color: #e4e7e6
}

.skills {
    margin-left: auto;
    margin-right: auto;
    width: 1000px
}

.skills h1 {
    border-bottom: 2px solid #dd8109;
    color: #e4e7e6;
    font-family: HIRO MISAKE;
    font-size: 3rem;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 2.8rem;
    text-shadow: 1px 3px 10px #dd8109
}

.skills_2 {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(3, 150px);
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}

.skills_2 div:nth-child(3) {
    height: 90px;
    margin-top: 10px;
    width: 90px
}

.skills_2 div:nth-child(9) {
    height: 50px
}

.skills_2 div:nth-child(10) {
    fill: #0f8797
}

.skills_2 div:nth-child(12) {
    fill: #0e67cc
}

.skills_2 .skills_svg {
    align-self: center;
    cursor: pointer;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    transition: .5s ease;
    width: 100px
}

.skills_2 .skills_svg svg {
    height: 100%;
    width: 100%
}

.skills_2 .skills_svg:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transform: scale(1.3);
    transform: scale(1.3)
}

@media (max-width:1000px) {
    .navbar {
        display: none
    }

    .burger {
        display: block
    }

    .social_links {
        display: none
    }

    .about {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0;
        width: 500px
    }

    .about_2 {
        display: flex;
        flex-direction: column;
        margin: 100px 0;
        width: 100%
    }

    .about_2 .photoDiv {
        border-radius: 50%;
        height: 400px;
        width: 80%
    }

    .about_2 .photoDiv p {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 7px
    }

    .about_2 .about_text {
        flex-direction: column;
        margin-left: 0;
        margin-top: 60px;
        width: 100%
    }

    .skills {
        margin-top: 100px;
        min-width: -webkit-fit-content;
        min-width: -moz-fit-content;
        min-width: fit-content;
        width: auto
    }

    .skills_2 {
        grid-row-gap: 30px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: none;
        row-gap: 30px
    }

    .skills_2 .skills_svg {
        -webkit-filter: initial;
        filter: none;
        transition: none 0s ease 0s;
        transition: initial
    }

    .skills_2 .skills_svg:hover {
        -webkit-filter: initial;
        filter: none;
        -webkit-transform: none;
        transform: none
    }
}

@media (max-width:500px) {
    .about {
        width: 350px
    }

    .about_2 {
        margin: 75px 0;
        padding: 0 5px;
        width: 100%
    }

    .about_2 .photoDiv {
        border: 8px solid #000;
        border-radius: 50%;
        height: 333.33333px;
        width: 100%
    }

    .about_2 .photoDiv p {
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 8px
    }

    .about_2 .about_text {
        flex-direction: column;
        margin-left: 0;
        margin-top: 40px;
        width: 100%
    }

    .about_2 .about_text .autotyping {
        font-size: 1.6rem;
        height: 85px
    }

    .about_2 .about_text .autotyping h2 {
        font-size: 1.2em
    }

    .about_2 .my_story {
        font-size: .8rem
    }

    .skills {
        margin-top: 60px
    }

    .skills_2 div:nth-child(3) {
        height: 55px;
        margin-top: 5px;
        width: 55px
    }

    .skills_2 div:nth-child(9) {
        height: 30px
    }

    .skills_2 .skills_svg {
        -webkit-filter: initial;
        filter: none;
        height: 60px;
        transition: none 0s ease 0s;
        transition: initial;
        width: 60px
    }

    .skills_2 .skills_svg svg {
        height: 100%;
        width: 100%
    }

    .skills_2 .skills_svg:hover {
        -webkit-filter: initial;
        filter: none;
        -webkit-transform: none;
        transform: none
    }
}

@media (max-width:350px) {
    .about {
        width: 270px
    }

    .about_2 {
        padding: 0 5px
    }

    .about_2 .photoDiv {
        border: 6px solid #000;
        height: 263.15789px
    }

    .about_2 .photoDiv p {
        font-size: 10px;
        letter-spacing: .8px;
        line-height: 6px
    }

    .about_2 .about_text {
        flex-direction: column;
        margin-left: 0;
        margin-top: 40px;
        width: 100%
    }

    .about_2 .about_text .autotyping {
        font-size: 1.3rem;
        height: 85px
    }

    .about_2 .about_text .autotyping h2 {
        font-size: 1.3em
    }

    .about_2 .my_story {
        font-size: .8rem
    }
}

/*# sourceMappingURL=main.63fd9058.css.map*/
