@font-face {
    font-family: 'Minecrafter';
    src: url('./fonts/Minecrafter.eot');
    src: url('./fonts/Minecrafter.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Minecrafter.woff2') format('woff2'),
        url('./fonts/Minecrafter.woff') format('woff'),
        url('./fonts/Minecrafter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


@font-face {
    font-family: 'MADE TOMMY';
    src: url('./fonts/MADETOMMY.eot');
    src: url('./fonts/MADETOMMY.eot?#iefix') format('embedded-opentype'),
        url('./fonts/MADETOMMY.woff2') format('woff2'),
        url('./fonts/MADETOMMY.woff') format('woff'),
        url('./fonts/MADETOMMY.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


@font-face {
    font-family: 'Russo One';
    src: url('./fonts/RussoOne.eot');
    src: url('./fonts/RussoOne.eot?#iefix') format('embedded-opentype'),
        url('./fonts/RussoOne.woff2') format('woff2'),
        url('./fonts/RussoOne.woff') format('woff'),
        url('./fonts/RussoOne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Blacksword';
    src: url('./fonts/Blacksword.eot');
    src: url('./fonts/Blacksword.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Blacksword.woff2') format('woff2'),
        url('./fonts/Blacksword.woff') format('woff'),
        url('./fonts/Blacksword.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}